*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  width: 100%;
}

.head{
  width: 100%;
  height: 150px;
  background: black;
}

.head::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 35%;
  height: 150px;
  float: left;
}

.in img{
  width: 50%;
  margin-left: 25%;
  height: 100px;
  margin-top: 25px;
}

.out{
  width: 65%;
  height: 150px;
  float: right;
}

.out nav{

}

.out nav ul{

}

.out nav ul li{
  width: 15%;
  text-align: center;
  margin-left: 2%;
  list-style: none;
  display: inline-block;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
  border-radius: 5px;
  margin-top: 70px;
}

.out nav ul li:hover{
  background: linear-gradient(yellow 20%,orange 80%);
  box-shadow: 0 0 20px orange;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
}

.out nav ul li a{
  color: white;
  text-decoration: none;
}

section{
  width: 100%;
}

.contanier{
  width: 100%;
}

.contanier::after{
  content: '';
  clear: both;
  display: table;
}

.box{
  width: 30%;
  float: left;
}

.box img{
  width: 90%;
  height: 100px;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inbox{
  width: 60%;
  float: right;
}

.inbox h2{
  color: grey;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inbox p{
  color: grey;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
