*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  width: 100%;
}

.head{
  width: 100%;
  height: 150px;
  background: black;
}

.head::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 35%;
  height: 150px;
  float: left;
}

.in img{
  width: 50%;
  margin-left: 25%;
  height: 100px;
  margin-top: 25px;
}

.out{
  width: 65%;
  height: 150px;
  float: right;
}

.out nav{

}

.out nav ul{

}

.out nav ul li{
  width: 15%;
  text-align: center;
  margin-left: 2%;
  list-style: none;
  display: inline-block;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
  border-radius: 5px;
  margin-top: 70px;
}

.out nav ul li:hover{
  background: linear-gradient(yellow 20%,orange 80%);
  box-shadow: 0 0 20px orange;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
}

.out nav ul li a{
  color: white;
  text-decoration: none;
}

section{
  width: 100%;
}

.contanier{
  width: 100%;
}

.contanier::after{
  content: '';
  clear: both;
  display: table;
}

.po{
  width: 94%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 3%;
  border-left: 4px solid orange;
  border-right: 4px solid orange;
  border-radius: 15px;
}

.rit{
  width: 100%;
}

.rit label{
  width: 90%;
  margin-left: 5%;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.rit input{
  background: #1e1e1e;
  width: 90%;
  height: 40px;
  padding-left: 20px;
  color: orange;
  margin-left: 5%;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
  border-radius: 15px;
  font-size: 20px;
}

.rit input:hover{
  border-top:2px solid orange;
  border-bottom:2px solid yellow;
  border-left:2px solid orange;
  border-right:2px solid yellow;
  box-shadow: 0 0 10px orange;
}

.rit select{
  background: #1e1e1e;
  width: 90%;
  margin-left: 5%;
  color: orange;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
  border-radius: 15px;
}

.rit select:hover{
  border-top:2px solid orange;
  border-bottom:2px solid yellow;
  border-left:2px solid orange;
  border-right:2px solid yellow;
  box-shadow: 0 0 10px orange;
}

.rit textarea{
  background: #1e1e1e;
  width: 90%;
  height: 100px;
  padding-left: 20px;
  color: orange;
  margin-left: 5%;
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
  border-radius: 15px;
  font-size: 20px;
}

.rit textarea:hover{
  border-top:2px solid orange;
  border-bottom:2px solid yellow;
  border-left:2px solid orange;
  border-right:2px solid yellow;
  box-shadow: 0 0 10px orange;
}

.rit button{
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 50px;
  color: white;
  background: linear-gradient(yellow 20%,orange 80%);
  border-top:2px solid yellow;
  border-bottom:2px solid orange;
  border-left:2px solid yellow;
  border-right:2px solid orange;
  border-radius: 40px;
}

.rit button:hover{
  border-top:2px solid orange;
  border-bottom:2px solid yellow;
  border-left:2px solid orange;
  border-right:2px solid yellow;
  box-shadow: 0 0 10px orange;
}


.box{
  width: 30%;
  float: left;
}

.inbox{
  width: 60%;
  float: right;
}
